
.ant-layout-content .m-max{
  height:auto;
}
.m-max-box .header{
  background: #fff;
  height: auto ;
  width: 100%;
}

.ant-spin-container{
  height:auto;
}
.ant-list-item{
  width: 100%;
  background: #fff;
}
.ant-breadcrumb {
  margin-bottom: 20px;
}
.m-title {
  padding: 30px 0;
}
.m-title span {
  margin-left: 5px;
  font-size: 12px;
  padding:5px 10px;
  border-radius: 5px;
}
.m-title span:hover{
  color: #0139FD;
  cursor: pointer;
}
.m-input {
  margin-top: 10px;
}
.ant-list-item {
  font-size: 13px;
  display: flex;
  line-height: 30px;
}
 .m-input-search {
  display: flex;
} 
.m-input-search span {
  flex: 1
}

.m-item {
  flex: 9;
}
.m-item button{
    height: 22px;
    color: #1890ff;
    background: #e6f7ff;
    border-color: #91d5ff;
    margin-right: 10px;
}
.m-item span {
  display: block;
}
.m-btns {
  flex: 1;
  color: #0139FD;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
}
.m-item .m-btn-col{
  color: #fa8c16;
  background: #fff7e6;
  border-color: #ffd591;
}
.ant-list-item:hover{
  background:#e6f7ff
}
.m-max .ant-list{
  margin-top:30px;
}

.m-title .action{
  background: #0139FD;
  color:#fff
}
.m-title .action:hover{
  color: #fff
}
