/* .test{
    width: 100%;
    height: 100%;
} */
h3{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.dem{
    height: 500px;
    background: #fff;
    margin: 0 auto;
    border-radius: 15px 15px 15px 15px;
    
}
/* .dom{
    width: 100%;
    height: 100px !important;
    background: #fff;
    align-items: center;
} */
/* .dom div{
    width: 100%;
    height: 100% !important;
}
.tab{
    width: 80% !important;
    height: 500px !important;
    display: flex;
    flex-direction: column;
}
.tab div{
    width: 100% !important;
    height: 100% !important;
}
.ant-table-thead{
    width: 100%;
    height: 50px !important;
} */