.wrap{
    width: 100%;
    height: 100%;
}
h1{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.nav{
    width: 100%;
    height: 100%;
}
.nav .dam{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
}
.dam .handletou{
    width: 100%;
    height: 50px !important;
}
.handletab{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* .ant-table-wrapper{
    height: 700px !important;
} */