.m-left-box,
.m-right-box {
  background: #fff;
  float: left;
  width: 49%;
  min-height: 500px;
  border-radius: 5px;
  padding: 20px;
  line-height: 30px;
}
.m-left-box {
  margin-right: 2%;
}
.m-topic,
.m-topic-gap,
.m-method,
.m-item-expression {
  padding:10px;
  background: #ccc;
}
.m-expression {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.m-title-bar{
    font-size: 17px;
    font-weight: 600
}
.m-title-mes span{
    color: #1890ff;
    background: #e6f7ff;
    border-color: #91d5ff;
    margin-right: 10px;
    display: inline-block;
    font-size: 12px;
    padding:2px 6px;
    text-align: center;
    line-height: 22px;
    border:1px solid #adc6ff;
}
.m-title-mes .m-item-col{
    color: #fa8c16;
    background: #fff7e6;
    border-color: #ffd591
}
