.headers{
    line-height: 30px;
    font-size: 17px;
    font-weight: 600;
    margin-bottom:10px;
}

.m-icon{
    padding:10px;
    border-bottom:1px solid #ccc
  }
  .m-top-bottom{
     height: 244px;
      width: 1020px;
      border:1px solid #ccc
  }
  .m-text{
    height: 200px;
    border:none;
    width: 988px;
    resize: none
  }
  
  .m-inp li{
     float: left;
  }
  .m-inp li:nth-child(1){
    width:30px;
    height: 200px;
    background: #eee;
    text-align: center;
  }
  .m-item-ip{
      margin-top:30px;
      line-height: 30px;
  }
  .m-input-add{
      max-width: 500px;
  }
.for-container{
  max-height:500px; 
 
}
.m-con{
    margin-top:30px;
    line-height: 30px;
}
.m-con .ant-btn {
    margin-top:30px;
    padding: 0 40px!important;
    border-radius: 4px!important;
    border: 0!important;
    font-size: 14px!important;
    color: #fff!important;
    background: linear-gradient(-90deg,#4e75ff,#0139fd)!important;
}